@font-face {
  src: url(fonts/Roboto/Roboto-Regular.woff2) format("woff2"),
    url(fonts/Roboto/Roboto-Regular.woff) format("woff"),
    url(fonts/Roboto/Roboto-Regular.ttf) format("ttf");
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}
.wrap {
  max-width: 1180px;
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 184px;
  height: 55px;
  padding-top: 46px;
  margin-right: 270px;
  transition: 0.5s;
}
.logo:hover {
  transform: scale(1.6);
}
.header-top {
  background-color: grey;
  background-image: url(img/bg_header.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  width: 100%;
  height: 1024px;
  left: 0px;
  top: 0px;
  background-color: rgba(110, 133, 133, 0.733);
}
.text-logo {
  color: white;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: left;
  vertical-align: top;
  text-decoration: none;
  padding-top: 58px;
}
.text-logo:hover {
  color: #c7b299;
}
.card:hover {
  background-color: #c7b299;
}
.header-title {
  margin-top: 300px;
  text-align: center;
  align-items: center;
}
.header-title-top {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 36px;
  color: #ffffff;
  line-height: 42px;
  text-align: center;
}
.header-title-center {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 52px;
  color: #ffffff;
  line-height: 61px;
  text-align: center;
}
.header-title-end {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  width: 50%;
  padding-left: 300px;
}
.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 45px;
}
.slider-btn {
  padding: 10px;
  position: absolute;
  background-color: transparent;
  border: none;
  outline: none;
}
.slider-btn-left {
  left: 5px;
}
.slider-btn-right {
  right: 5px;
}

.text-logo-navigation {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 34px;
  line-height: 39.92px;
}
.burger {
  display: none;
}
.submit {
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  background-color: #988574;

  margin-top: 39px;
  width: 170px;
  height: 53px;
  text-transform: uppercase;
  border: none;
  align-self: center;
  align-content: center;
  text-align: center;
  cursor: pointer;
  outline: 0;
  transition: all 0.1s linear;
  box-shadow: 0 5px 0 #4e4e4b;
}
.submit:active {
  box-shadow: 0 2px 0 #7c7c7c;
  transform: translateY(3px);
}
.top-navigation {
  text-align: center;
  font-size: 25px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.w-realization {
  padding: 20px 0;
}
.realization-block {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.realization-block-card {
  width: 270px;
  height: 51px;
  margin: 0 10px;
  margin-bottom: 120px;
  margin-top: 93px;
  cursor: pointer;
  transition: 0.5s;
  text-align: center;
}

.realization-icon {
  transition: transform 0.5s;
}
.border-real {
  display: flex;
  align-items: stretch;
  transition: transform 0.5s;
  border-bottom: 3px solid #f1eee9;
}

.realization-block-card:hover .inform-img {
  transform: translate(10px, -25%);
}
.realization-block-card:hover .realization-title {
  color: #a86007;
}
.realization-block-card:hover .realization-text {
  color: #b19e7b;
}
.realization-block-card:hover .border-real {
  border-bottom: 3px solid #a86007;
}
.realization-block-card:hover .realization-icon {
  /*transform: rotate(-7deg);*/
  transform: translate(0, -10px);
}

.realization-title {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  color: #555555;
  text-align: center;
}
.realization-text {
  color: #000000;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}
.purchase {
  background-color: #e5e5e5;
}
.purchase-wrap {
  padding-top: 80px;
  text-align: center;
}
.purchase-photo {
  width: 1180px;
}
.purchase-end {
  background: radial-gradient(
    94.87% 15543.47% at 4.58% 100%,
    #211b19 0%,
    #4e3326 100%
  );
  height: 160px;
}
.wrap-purchse-end {
  display: flex;
  justify-content: space-between;
}
.purchase-title {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 30px;
  line-height: 35px;
  color: #555555;
  text-align: center;
}
.purchase-text {
  color: #8c8c8c;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  width: 770px;
  text-align: center;
  padding-left: 200px;
}
.purchase-end-title {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 33px;
  color: #ffffff;
  margin-top: 44px;
  margin-bottom: 0px;
}
.purchase-end-text {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #615855;
  margin-top: 0px;
}
.purchase-submit {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  background-color: #988574;
  width: 170px;
  height: 53px;
  text-transform: uppercase;
  border: none;
  align-self: center;
  align-content: center;
  margin-top: 56px;
  cursor: pointer;
  outline: 0;
  transition: all 0.1s linear;
  box-shadow: 0 5px 0 #4e4e4b;
}
.purchase-submit:active {
  box-shadow: 0 2px 0 #7c7c7c;
  transform: translateY(3px);
}
.our-latest {
  text-align: center;
}
.project-title {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 30px;
  line-height: 35px;
  color: #555555;
  text-align: center;
}
.project-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #8c8c8c;

  width: 802px;
  margin-left: 200px;
}
.project-article {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.wrap-project-article {
  background-color: #fbfaf8;
  margin-bottom: 15px;
}
.wrap-project-article::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-bottom: 15px solid #fbf9f7;
  position: relative;
  bottom: -237px;
  left: 7px;
}

.article-photo {
  transition: 0.5s;
}
.wrap-project-article:hover {
  background-color: #352f2d;
}

.wrap-project-article:hover .article-title {
  color: #fff;
}
.posts-block:hover .article-text {
  color: #c7b299;
}
.wrap-project-article:hover .article-photo {
  filter: grayscale(100%);
}
.project-link {
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  padding-bottom: 32px;
  width: 55%;
}
/*.project-link-logo {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  cursor: pointer;
}*/
.project-logo {
  border: 1px solid #ebebeb;
  width: 110px;
  height: 32px;
  text-decoration: none;
  text-align: center;
  padding-top: 15px;

  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #8c8c8c;
  align-items: center;
  margin-left: 10px;
}

.project-logo:hover {
  background-color: #c7b299;
  width: 110px;
  height: 32px;

  border: 1px solid #aa9a86;
}
.article-title {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #c7b299;
  margin-left: 23px;
}
.article-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #c7b299;
  margin-left: 23px;
}
.video {
  width: 1920px;
  height: 705px;
  left: 0px;
  top: 0px;
}
.video-present {
  padding: 150px 0;
  margin-top: 33px;
  margin-bottom: 78px;
  background-color: grey;
  background-image: url(img/bg_video_presentation.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}
.video-content {
  text-align: center;
}

.video-present-photo {
  transition: 0.7s;
}
.video-present-photo:hover {
  transform: rotate(360deg);
}
.present-title {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  color: #ffffff;
  text-align: center;
}
.present-title:hover {
  color: #312b24;
}
.present-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  width: 570px;
  padding-left: 300px;
}
.present-text:hover {
  color: #c7b299;
}
.counters-block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.counters-title {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 30px;
  line-height: 35px;
  color: #555555;
}
.counters-text {
  width: 670px;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #8c8c8c;
}
.excellent-block {
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #8c8c8c;
  list-style-type: none;
}

.counters-inform {
  background: radial-gradient(
    94.87% 15543.47% at 4.58% 100%,
    #211b19 0%,
    #4e3326 100%
  );
}
.excellent-right {
  padding-top: 11px;
  width: 21px;
  height: 21px;
}
.excellent-right:hover {
  color: #c7b299;
}
.inform-wrap {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.inform-title {
  font-weight: 300;
  font-size: 48px;
  line-height: 59px;
  color: #ffffff;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.border {
  margin-left: 25px;
  border-bottom: 2px solid white;
  width: 45px;
}
.inform-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #c7b299;
  text-align: center;
}
.counters-card img {
  transition: 0.5s;
}
.counters-card {
  margin: 36px 0 53px;
  transition: 0.5s;
  cursor: pointer;
}

.counters-card:hover .inform-img {
  transform: translate(10px, -25%);
}
.counters-card:hover .inform-title {
  color: #d69c51;
}
.counters-card:hover .inform-text {
  color: #fdfdfd;
}
.counters-card:hover .border {
  border-bottom: 2px solid #d69c51;
}
.recent-posts {
  padding-top: 100px;
  padding-bottom: 114px;
}
.recent-posts-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0 auto;
}
.posts-block {
  width: 30%;
  height: 380px;
  border: 1px solid #b2b2b2;
  transition: 0.5s;
  position: relative;
  cursor: pointer;
}
.posts-img {
  width: 100%;
  transition: 0.5s;
}
.calendar-top {
  position: absolute;
  background-color: #363636;
  border-radius: 3px;
  width: 50px;
  height: 34.84px;
  left: 10px;
  top: 15px;
  font-weight: 300;
  font-size: 30px;
  line-height: 37px;
  color: #ffff;
  text-align: center;
  padding: 6px 6px 6px;
  transition: 0.5s;
}
.calendar-but {
  position: absolute;
  background-color: #242424;
  border-radius: 3px;
  width: 50px;
  height: 24.89px;
  left: 10px;
  top: 60px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 14.06px;
  color: #ffff;
  text-align: center;
  padding: 6px 6px 6px;
  transition: 0.5s;
}
.posts-block:hover .calendar-top {
  background-color: #c7b199;
}
.posts-block:hover .calendar-but {
  background-color: #a48d71;
}

.partners {
  padding: 150px 0;
  background-color: grey;
  background-image: url(img/bg_partners.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}
.partners-block {
  display: flex;
  align-items: center;
  padding-left: 85px;
}
.partners-logo {
  width: 200px;
  height: 164px;
  left: 1282px;
  top: 144px;
  padding-right: 80px;
  transition: 0.5s;
}

.partners-logo:hover {
  transform: translate(-10px, 25%);
}
.posts-title {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 30px;
  line-height: 35px;
  color: #555555;
  text-align: center;
}

.posts-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #8c8c8c;
  text-align: center;
  width: 770px;
  margin-left: 230px;
  padding-bottom: 30px;
}
.posts-title-block {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #555555;
  margin-left: 23px;
  transition: 0.5s;
}
.posts-text-block {
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
  margin-left: 23px;
  transition: 0.5s;
}

.posts-block:hover {
  background-color: #352f2d;
}

.posts-block:hover .posts-title-block {
  color: #fff;
}
.posts-block:hover .posts-text-block {
  color: grey;
}
.posts-block:hover .posts-img {
  filter: grayscale(100%);
}
.posts-block:hover .text {
  color: #ffff;
}
.text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #c7b299;
  text-align: center;
  text-decoration: none;
  margin-left: 23px;
}
.text:hover {
  color: #ffff;
}

.footer {
  background-color: #222121;
}
.footer-block {
  display: flex;
}
.widget-img {
  background-size: contain;
  transition: transform 0.5s;
}
.widget-img:hover {
  transform: scale(1.4);
}

.footer-title {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
}
.footer-title-dribble {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  padding-left: 20px;
}
.footer-block-wrap {
  padding-top: 45px;
  padding-bottom: 20px;
}
.footer-block-wrap-widget {
  width: 268px;
  padding-left: 20px;
}
.footer-block-left {
  width: 280px;
}
.footer-inform {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #555555;
  width: 270px;
}
.footer-inform-mini {
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  color: #363636;
  width: 117px;
  transition: 0.5s;
}
hr {
  border: none;
  color: #242424;
  background-color: #242424; /* Цвет линии для браузера Firefox и Opera */
  height: 2px;
}
.colortext {
  color: #6048e4;
}

.text-read {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #c7b299;
  text-align: center;
  text-decoration: none;
}
.footer-inform:hover {
  color: #c7b299;
}
.footer-inform-mini:hover {
  color: #fff;
}
.text-footer {
  color: #555555;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  text-align: left;
  text-decoration: none;
  padding-top: 58px;
}
.text-footer:hover {
  color: #c7b299;
}
.rights {
  background: #101010;
  height: 110px;
}

.rights-wrap a {
  margin: 0 5px 15px 0;
  display: inline-block;
}
.rights-info {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #555555;
  width: 270px;
  margin-left: 30px;
}
.rights-info:hover {
  color: #c7b299;
}

/* desktop */
@media (max-width: 1024px) {
  .header-top {
    width: 100%;
  }
  .top-navigation {
    text-align: center;
    display: flex;
    justify-content: space-between;
  }
  .slider {
    display: none;
  }
  .logo {
    margin-right: 0;
    margin-left: 20px;
    width: 130px;
  }
  .text-logo {
    padding-top: 30px;
    font-size: 16px;
    text-align: left;
  }

  .purchase-text {
    width: 670px;
  }
  .purchase-photo {
    width: 700px;
  }
  .project-text {
    width: 600px;
  }
  .project-link {
    width: 60%;
  }
  .purchase-end-left {
    padding-left: 12px;
  }
  .purchase-submit {
    margin-right: 30px;
  }
  .present-text {
    padding-left: 210px;
  }
  .wrap-project-article {
    padding-left: 50px;
    padding-right: 50px;
  }
  .counters-img-left {
    padding-left: 30px;
  }
  .counters-block {
    flex-wrap: nowrap;
  }
  .inform-wrap {
    padding-left: 20px;
    padding-right: 20px;
  }
  .counters-text {
    width: 400px;
  }

  .partners-block {
    padding-left: 20px;
    padding-right: 20px;
  }
  .footer-block {
    width: 100%;
  }
  .widget-img {
    width: 90px;
  }
  .rights-wrap {
    padding-left: 40px;
  }
}

/* tablet */
@media (max-width: 488px) {
  .header-top {
    width: 460px;
    height: 804px;
  }
  .text-logo {
    display: none;
  }
  .burger {
    display: block;
    width: 50px;
    padding-right: 12px;
    padding-top: 12px;
  }
  .logo {
    padding-left: 20px;
  }
  .slider {
    display: none;
  }
  .header-title {
    margin-top: 200px;
    text-align: center;
  }
  .slider {
    background-image: none;
  }
  .header-title-top {
    font-size: 25px;
    text-align: center;
  }
  .header-title-center {
    font-size: 32px;
    text-align: center;
  }
  .header-title-end {
    margin: auto;
  }
  .project-link {
    padding-left: 55px;
  }
  .realization-block {
    flex-direction: column;
    align-items: center;
  }
  .products {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .product {
    width: 48%;
  }
  /*второй блок*/
  .purchase-end {
    height: 200px;
  }
  .wrap-purchse-end {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .purchase-text {
    width: 400px;
    font-size: 16px;
    text-align: center;
  }
  .purchase-photo {
    width: 420px;
  }
  .purchase-end-title {
    font-size: 18px;
    margin-top: 44px;
    margin-bottom: 0px;
    text-align: center;
  }
  .purchase-end-text {
    font-size: 18px;
    margin-top: 0px;
    width: 340px;
    text-align: center;
  }
  .purchase-submit {
    width: 120px;
    height: 35px;
    margin-top: 5px;
    margin-left: 12px;
  }
  .purchase-submit:active {
    box-shadow: 0 2px 0 #7c7c7c;
    transform: translateY(3px);
  }
  /*третий блок*/
  .project-title {
    margin-top: 44px;
    text-align: center;
  }
  .project-text {
    width: 340px;
    margin-right: 200px;
  }
  .project-article {
    padding-left: 65px;
  }
  .wrap-project-article {
    margin-bottom: 15px;
  }
  .project-logo {
    border: 1px solid #ebebeb;
    width: 110px;
    height: 32px;
  }
  /*4*/
  .video-content {
    width: 600px;
    text-align: center;
  }
  .video-present-photo {
    margin-right: 115px;
  }
  .present-title {
    margin-right: 75px;
  }
  .present-text {
    width: 370px;
    padding-left: 70px;
  }
  /*5*/
  .counters-block {
    flex-direction: column;
    align-items: center;
  }
  .counters-title {
    font-size: 25px;

    padding-left: 20px;
  }
  .counters-text {
    width: 350px;
    padding-left: 20px;
  }
  .excellent-block {
    width: 350px;
    padding-left: 20px;
  }
  /*6*/

  .inform-wrap {
    flex-direction: column;
    align-items: center;
  }
  .recent-posts {
    padding-top: 100px;
    padding-bottom: 114px;
  }
  .recent-posts-wrap {
    padding-left: 55px;
    align-items: center;
  }
  .posts-block {
    width: 300px;
    margin-left: 40px;
    margin-bottom: 12px;
  }
  .posts-text {
    width: 300px;
    margin-left: 55px;
  }
  .dribble {
    padding-right: 50px;
  }
  .partners-block {
    flex-direction: column;
  }
  .footer-block {
    flex-direction: column;
    align-items: center;
  }
  .partners-logo {
    margin-bottom: 30px;
  }
  .footer-block-wrap {
    align-items: center;
    padding-top: 5px;
  }
  .rights-wrap {
    text-align: center;
  }
}
